<div class="container">
  <div class="row">
    <div class="col">
      <h1>Personas</h1>
      <div class="btn-group">
        <button type="button" class="btn btn-success" (click)="show_list=false" [ngClass]="{ 'btn-success' : !show_list }">ON</button>
        <button type="button" class="btn btn-danger" (click)="show_list=true" [ngClass]="{ 'btn-danger' : show_list }">OFF</button>
      </div>
      <div class="container" [ngStyle]="{ 'display': show_list ? 'none':'unset'}">
        <ul class="list-group">
          <app-elementopersona (onPersonSelected)="doSomething($event)" [persona]='persona' *ngFor='let persona of personas'></app-elementopersona>
        </ul>
      </div>
    </div>
    <div class="col">
      <h1>Persona</h1>
      <ul class="list-group" *ngIf="show_details" ngDefaultControl [(ngModel)]="persona">
        <li class="list-group-item">Nombre: {{persona.nombre}}</li>
        <li class="list-group-item">Edad: {{persona.edad}}</li>
        <li class="list-group-item">Sexo: {{persona.sexo}}</li>
      </ul>
    </div>
  </div>
</div>
