<button a type="button" class="list-group-item list-group-item-action" (click)="selectPerson(persona.nombre, persona.edad, persona.sexo)">{{persona.nombre}}</button>
<!-- <input type="radio" class="list-group-item" name="options" id="{{persona.nombre}}">{{persona.nombre}} -->
<!-- <ul class="list-group list-group-horizontal" [ngClass]="{'d-none': !is_selected}">
    <li class="list-group-item flex-fill">Edad: {{persona.edad}}</li>
    <li class="list-group-item flex-fill">Sexo: {{persona.sexo}}</li>
    <li class="list-group-item flex-fill">XD</li>
</ul> -->